* {
    margin: 0;
    padding: 0;
}

.site-top {
    background-color: #000;
}

.site-header {
    width: 1080px;
    height: 120px;
    margin: 0 auto;
    background-color: pink;
}

.site-title {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    padding-left: 40px;
    line-height: 120px;
}

.site-mid {
    background-color: white;
}

main {
    width: 1080px;
    height: 300px;
    margin: 0 auto;
    background-color: #f5eca7;
}